<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.virtualwallet"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.virtualwallet.MainScreen"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.virtualwallet.CreditsActivity"
            android:label="@string/title_activity_credits"
            android:parentActivityName="com.example.virtualwallet.MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.virtualwallet.MainScreen" />
        </activity>
        <activity
            android:name="com.example.virtualwallet.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.virtualwallet.MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.virtualwallet.MainScreen" />
        </activity>
        <activity
            android:name="com.example.virtualwallet.CreateWallet"
            android:label="@string/title_activity_create_wallet" >
        </activity>
        <activity
            android:name="com.example.virtualwallet.LoadWallet"
            android:label="@string/title_activity_load_wallet"
            android:parentActivityName="com.example.virtualwallet.MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.virtualwallet.MainScreen" />
        </activity>
        <activity
            android:name="com.example.virtualwallet.CreatePerson"
            android:label="@string/title_activity_create_person" >
        </activity>
        <activity
            android:name="com.example.virtualwallet.WalletScreen"
            android:label="@string/title_activity_wallet_screen"
            android:parentActivityName="com.example.virtualwallet.MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.virtualwallet.MainScreen" />
        </activity>
        <activity
            android:name="com.example.virtualwallet.CreateTransaction"
            android:label="@string/title_activity_create_transaction" >
        </activity>
        <activity
            android:name="com.example.virtualwallet.ChoosePayant"
            android:label="@string/title_activity_choose_payant" >
        </activity>
        <activity
            android:name="com.example.virtualwallet.RemovePerson"
            android:label="@string/title_activity_remove_person" >
        </activity>
        <activity
            android:name="com.example.virtualwallet.ChooseSubset"
            android:label="@string/title_activity_choose_subset" >
        </activity>
    </application>

</manifest>